body{
    font-family: Arial, sans-serif;
    margin:40px;
    background:#f1f3f4;
}

header{
    margin-bottom:20px;
}

.note-form{
    margin-bottom:30px;
}

input,
textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    padding:10px 20px;
    cursor:pointer;
}

.note{
    background:white;
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
}